<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:atlas-theme/hero-block /-->
    
    <!-- wp:atlas-theme/skills-grid-block /-->
    
    <!-- wp:atlas-theme/projects-grid-block /-->
    
    <!-- wp:atlas-theme/company-logos-block /-->
    
    <!-- wp:atlas-theme/timeline-block /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
